    * {
        margin: 0;
        padding: 0;
    }

.flex-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main h1{
    text-align: center;
    font-size: extra xx-large;
    text-transform: capitalize;
    padding: 20px;
    color:#643c0f
}

.flex-item1 h1{
    color:#f3bdc9; 
}
.flex-item1 h3{
    color: #643c0f;
    text-align: center;
}
.flex-item3 h1{
    color:#d83b73;
}
.flex-item3 h3{
    text-align: center;
    color: #643c0f;
}

.flex-item2 h1{
    color:palevioletred;
}.flex-item2 h3{
    text-align: center;
    color: #643c0f;
}

.flex-item1 img{
     width: 500px;
    height: 500px;
}

.flex-item2 img{
    width: 500px;
   height: 500px;
}

.flex-item3 img{
    width: 500px;
   height: 500px;
}


body{
    background-color:antiquewhite
}
@media(max-width: 1024){
    .flex-container{
        flex-direction: column;
        text-align: center;
    }
}

